@model Comment;

<h4>Are you sure you want to delete your comment "@Model.Text"</h4>

<form asp-action="DeleteComment" asp-route-id="@Model?.Id" asp-route-discussionId="@Model?.DiscussionId" method="post">
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a asp-controller="Discussions" asp-action="Details" asp-route-id="@Model?.DiscussionId" class="btn btn-primary">Cancel</a>
</form>

