@model IEnumerable<Discussion>
@{

    var userLoggedIn = Context.Session.GetString("UserEmail");
}

<h1>Discussions</h1>
<a class="btn btn-success" asp-controller="Discussions" asp-action="Create">
    Create new discussion
</a>

<section class="row">
    <div class="col-sm-6">
        @foreach (var discussion in Model)
        {
            <a asp-controller="Discussions" asp-action="Details" asp-route-id="@discussion.Id" class="btn">
                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@discussion.Topic</h5>
                        <p class="card-text">@discussion.Body</p>
                    </div>
                </article>
            </a>
        }
    </div>
</section>