@model IEnumerable<Discussion>
@{

    var userLoggedIn = Context.Session.GetString("UserEmail");
    var errorMessage = ViewBag.ErrorMessage as string;
    var successMessage = ViewBag.SuccessMessage as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorMessage" class="alert alert-danger">
        @errorMessage
    </div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="successMessage" class="alert alert-success">
        @successMessage
    </div>
}

<header class="row mb-5">
    <div class="col text-center">
        <h1 class="display-3">Discussions</h1>
        <p class="lead">Join or create a discussion</p>
        <a class="btn btn-outline-success btn-lg" asp-controller="Discussions" asp-action="Create">
            Create new discussion
        </a>
    </div>
</header>

<center>
    @foreach (var discussion in Model)
    {
        <partial name="_Discussion" model="discussion" />
    }
</center>

<script>setTimeout(() => document.getElementById("errorMessage").style.display = "none", 3000);</script>
<script>setTimeout(() => document.getElementById("successMessage").style.display = "none", 3000);</script>


