@model Discussion

<h4>Update discussion: "@Model.Topic"</h4>

<form asp-action="UpdateConfirmed" asp-route-id="@Model?.Id" method="post">
    <div class="form-group">
        <label asp-for="Topic"></label><span class="text-danger">*</span>
        <input asp-for="Topic" class="form-control" />
        <span asp-validation-for="Topic" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label><span class="text-danger">*</span>
        <input asp-for="Body" class="form-control" />
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group" style="display: none">
        <label asp-for="Created"></label><span class="text-danger">*</span>
        <input asp-for="Created" class="form-control" />
        <span asp-validation-for="Created" class="text-danger"></span>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-warning">Update</button>
        <a asp-controller="Discussions" asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-primary">Back to Discussion</a>
    </div>
</form>