<h4>Are you sure you want to logout?</h4>

<form asp-action="Confirm" method="post">
    <button type="submit" class="btn btn-danger">Yes, logout</button>
    <a asp-controller="Discussions" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

