@{
    var errorMessage = ViewBag.ErrorMessage as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<section class="container py-5 h-100">
    <article class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <form method="post" class="card-body p-5 text-center" asp-action="Index">
                    <h3 class="mb-5">Sign up</h3>
                    <div class="form-outline mb-4">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" required>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sign up</button>
                </form>
            </div>
            <center><span>Already have an account?<a asp-controller="Login" asp-action="Index" class="btn btn-link">Click here</a></span></center>
        </div>
    </article>
</section>

