@{
    ViewData["Title"] = "Home Page";
    var userLoggedIn = Context.Session.GetString("UserEmail");
    var errorMessage = ViewBag.ErrorMessage as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorMessage" class="alert alert-danger">
        @errorMessage
    </div>
}

<header class="row mb-5">
    <div class="col text-center">
        <h1 class="display-3">Welcome @userLoggedIn</h1>
        <p class="lead">Join or create a discussion</p>
        <a class="btn btn-outline-primary btn-lg" asp-controller="Discussions" asp-action="Index">
            View Discussions
        </a>
    </div>
</header>

<script>setTimeout(() => document.getElementById("errorMessage").style.display = "none", 3000);</script>